body{
	margin:0px;
	padding:0px;
	font-family: sans-serif;
}

.container-fluid{
	margin-top:-20px;
}

.header{
	background: lightgreen;
	padding:20px;
}

.status-image{
	width: 25px;
    padding-right: 25px;
}

hr.dotted-line {
	border-top: 1px dashed #8c8b8b;
}

.main-svg {
	    margin-left: 45%;
    margin-top: -45px;
}
.pac{
	float:right;

}
.icons-row {
	padding:10px;
}
.pdc-pac{
	padding:10px;
}
.center-image-1{
	width: 40px;
    position: relative;
    top: -35px;
    left: -70px;
}
.center-image-2 {
	width: 40px;
    position: relative;
    top: -5px;
    left: -85px;
}

.kvr-text {
	text-align:right;
	padding-right:30px;
}

.internal-temperature {
	float:left;
}
.daily-production {
	float:right;
}
.online-text{
	text-align: right;
}
.temp-prod-row {
	text-align: center;
    padding: 20px;
}
.temperature-production {
    color: green;
    font-weight: bold;
}